@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(49, 53, 59, 0.96);
}

a {
  color: #ffffffcc;
  text-decoration: none;
}
